* {
    margin: 0px;
    padding: 0px;
}

.a1 {
    background-color: rgb(84, 86, 82);
    height: 27px;
    padding: 0%;
}

.b1 {
    height: 27px;
    width: 473px;
    display: flex;
    justify-content: space-around;
}

.b2 {
    height: 27px;
    display: flex;
    position: absolute;
    right: 12px;
    top: 1px;
}

.wl {
    display: block;
    text-decoration: none;
    font-size: 12px;
    position: relative;
    /* padding-top: 0px; */
    top: -5px;
    padding: 10px;
    color: rgb(218, 218, 218);
}

a:hover {
    color: white;
}

.a4 {
    position: relative;
    height: 200px;
    width: 100px;
    background-color: blueviolet;
    display: none;
}

#loginOrRegist {
    display: block;
}